*{
  padding: 0;
  margin: 0;
}
body{
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #3e0480;
}


.box{
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 10px;
  background: #fff;
  display: flex;
}

.box a{
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  text-indent: -9999px;
}

#red{
  background: #b71c1c;
}
#blue{
  background: #0D47A1;
}
#green{
  background: #1B5E20;
}
#pink{
  background: #ff00ea;
}
#yellow{
  background: #F57F17;
}
#orange{
  background: #BF360C;
}