* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
}
.circle-container {
  position: fixed;
  left: -100px;
  top: -100px;
}

.circle {
  background-color: #faa000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
}

.circle #open {
  left: 60%;
}
.circle #close {
  top: 40%;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
}

.content {
  width: 1000px;
  margin: 50px auto;
}

.content img {
  width: 100%;
}

p {
  line-height: 25px;
}

h3 {
  padding: 20px 0;
}
small {
  color: #666;
}
