
  *{
      padding: 0;
      margin: 0;
  }

body{
      height: 200vh;
  }

div{
    position: absolute;
    top:0;
    right: 0;
    background: url('../images/2.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

div .angel{
  position: absolute;
  bottom: -100%;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform:skewY(-10deg) ;
  -webkit-transform:skewY(-10deg) ;
  -moz-transform:skewY(-10deg) ;
  -ms-transform:skewY(-10deg) ;
  -o-transform:skewY(-10deg) ;
  transform-origin: top left;
}