
  *{
      padding: 0;
      margin: 0;
  }
html{
    scroll-behavior: smooth;
}

  body{
      height: 100vh;
  }

  section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 45px;
  }

  #sectionOne{
    background-color: #b71c71;
  }

  #sectionTwo{
    background-color: #E65100;
  }

  #sectionThree{
    background-color: #33691E;
  }
  #sectionFour{
    background-color: #0D47A1;
  }

  .to-top{
    position: fixed;
    direction: right;
    right: 25px;
    bottom: 25px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .4s ease-in-out;
    color: #000;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.to-top.active{
    opacity: 1;
    bottom: 40px;
}
.to-top svg{
    font-size: 30px;
}