* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.testimonials {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials .title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

.slider {
  border: 1px solid #333;
  color: #fff;
  padding: 30px;
  width: 600px;
  height: 250px;
  text-align: center;
  margin: auto;
}

.slider .slide {
  width: 100%;
}

.slider .slide p {
  font-size: 18px;
  word-spacing: 2px;
  font-family: sans-serif;
  line-height: 25px;
}

.slider .slide .client-info {
  margin: 35px 0;
}

.slider .slide .client-info h3 {
  font-size: 20px;
  margin: 70px 0 10px 0;
}

.slider .slide .client-info span {
  font-size: 14px;
  color: #11bead;
}
