*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400vh;
    background-color: #ffe4c4;
}



.action {
    position: fixed;
    top: 35%;
    left: 50%;
    transform:translateZ(50%);
    -webkit-transform:translateZ(50%);
    -moz-transform:translateZ(50%);
    -ms-transform:translateZ(50%);
    -o-transform:translateZ(50%);
}
.action .profile{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu{
    position: absolute;
    top: 150px;
    left:0;
    background-color: #ffff;
    width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    opacity: 0;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.action .menu.active{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.action .menu ::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 40px;
    background-color: #ffff;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}


.action .menu h3{
    text-align: center;
    font-weight: 900;
    padding: 20;
    box-sizing: border-box;
    width: 100%;
}

.action .menu h3 span{
    font-size: 14px;
    color: #777;
}

.action .menu ul{
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 0 30px;

}

.action .menu ul li{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.action .menu ul li img{
    width: 20px;
    margin-right: 10px;
    opacity: 0.6;
}

.action .menu ul li a{
    text-decoration: none;
    color:black;
}