
*{
padding: 0;
margin: 0;
}

body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

h1{
margin-bottom: 50px;
padding-bottom: 50px;
border-bottom: 5px solid #cc0000;
}

.password{
display: flex;
justify-content: center;
align-items: center;
width: 500px;
height: 40px;
position: relative;
}
.password input{
width: 70%;
padding: 10px;
box-sizing: border-box;
border: 1px solid #ccc;
color: #555;
font-size: 18px;
font-weight: bold;
outline: none;
}
.toggle{
position: absolute;
left: 40px;
}

.fa-eye-slash{
display: none !important;
}

.toggle svg{
color: #505050;
opacity: .7;
cursor: pointer;
font-size: 19px;
}

.toggle svg:hover{
opacity: 1;
}

.hide .fa-eye{
display: none;
}

.hide .fa-eye-slash{
display: block !important;
}