* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #014d93;
}
.container {
  width: 1400px;
  margin: auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  width: 38%;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  font-size: 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
