* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.alert-box {
  position: absolute;
  display: flex;
  top: 50px;
  left: 0;
  padding: 20px 30px;
  background: lightseagreen;
  color: #fff;
  font-size: 19px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.alert-box .close-btn {
  cursor: pointer;
  font-size: 19px;
}

.alert-box.hide {
  display: none;
}

.my-btn {
  font-size: 20px;
  color: #fff;
  background: tomato;
  width: 200px;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hidden {
  visibility: hidden;
}
