
*{
  margin:0;
  padding:0;
}

body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100vh;
}

#open{
  background-color:cornflowerblue;
  border: 3px solid royalblue;
  color: #fff;
  padding: 10px 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  cursor: pointer;
  transition: all .3 ease-in;
  -webkit-transition: all .3 ease-in;
  -moz-transition: all .3 ease-in;
  -ms-transition: all .3 ease-in;
  -o-transition: all .3 ease-in;
}

#open:hover{
  background-color:#fff;
  border: 3px solid steelblue ;
  color:darkblue;
}

.modal_container{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
 
}
.modal_container.show{
  opacity: 1;
  pointer-events: auto;
}

.modal_container .modal{
  width: 650px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

#closeModal{
  background-color:cornflowerblue;
  border: 3px solid royalblue;
  color: #fff;
  padding: 5px 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: pointer;
margin: 20px 0;
  transition: all .3 ease-in;
  -webkit-transition: all .3 ease-in;
  -moz-transition: all .3 ease-in;
  -ms-transition: all .3 ease-in;
  -o-transition: all .3 ease-in;
}

